traitlets==5.1.1
jupyter==1.0.0
notebook==6.4.7
jupyterlab==3.2.8
jupyterhub==2.0.2
lxml==4.7.1
beautifulsoup4==4.10.0
html5lib==1.1
python-highcharts==0.4.2
sympy==1.9
cython==0.29.26
dill==0.3.4
tornado==6.1
jupyter_core==4.9.1
jupyter_client==7.1.1

